@import '../../sass/variables.styles.scss';
@import '../../sass/mixins.styles.scss';

.home {
  font-size: $default-font-size;
  margin-top: $fixed-header-height;

  @include respond(phone) {
    margin-top: $fixed-header-height-phone;
  }
}
