@import '../../sass/variables.styles.scss';
@import '../../sass/mixins.styles.scss';

.signIn {
  @include section();
  align-items: center;

  &__container {
    @include container();
    width: 40rem;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
  }

  &__input {
    padding: 0.5rem;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__button {
    margin-bottom: 1rem;
    padding: 0.75rem 3rem;
    border-radius: 0.5rem;
    font-size: $default-font-size;

    &:active {
      transform: scale(0.98);
    }
  }

  &__google-button {
    background-color: transparent;
    border: none;
  }

  &__google-logo {
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    cursor: pointer;
  }

  &__registration-link {
    text-align: center;
  }
}
