.signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  font-size: 1.6rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);

  &__container {
    width: 24rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
  }

  &__input {
    padding: 0.5rem;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__button {
    margin-bottom: 1rem;
    padding: 0.75rem 3rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
  }

  &__registration-link {
    text-align: center;
  }
}
