@import '../../sass/variables.styles.scss';
@import '../../sass/mixins.styles.scss';

.sign-in {
  @include section();
  align-items: center;

  &__container {
    @include container();
    width: 40rem;
    text-align: center;

    @include respond(phone) {
      width: 34rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    @include input();
  }

  &__google-button {
    background-color: transparent;
    border: none;
  }

  &__google-logo {
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    cursor: pointer;
  }

  &__link {
    text-align: center;

    a {
      color: black;
    }
  }
}
