@mixin list-item() {
  display: flex;
  flex-direction: column;
  width: 49rem;
  height: auto;
  padding: 1rem;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  filter: brightness(97%);
  transition: filter 0.1s ease;

  &:hover {
    // transform: scale(101%);
    filter: brightness(100%);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
  }
}

@mixin section() {
  display: flex;
  margin: 5rem auto;
  flex-direction: column;
  padding: 0 3rem 3rem;
  font-size: $default-font-size;
  width: 90%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@mixin container() {
  width: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-smoke;
  border-radius: 0.5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}
