$color-primary: #b4966e;
$color-secondary: #303841;

$color-white: #fff;
$color-smoke: #f3f3f3;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-black: #000;

$default-font-size: 1.6rem;

$default-container-width: 1200px;

$fixed-header-height: 10rem;
$fixed-header-height-phone: 8rem;
$container-margin-top: 3rem;
