@import '../../sass/variables.styles.scss';
@import '../../sass/mixins.styles.scss';

.profile {
  @include section();
  align-items: center;

  &__container {
    @include container();
  }

  &__photo {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
  }
}
