.cities {
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem;

  &__list-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin-bottom: 2rem;
  }
}
