.cities {
  font-size: 1.6rem;
  height: 500px;
  background-color: red;
}

.slide1 {
  background: url('https://images.unsplash.com/photo-1495542779398-9fec7dc7986c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80')
    center no-repeat;
  background-size: cover;
  height: 60rem;
}
.slide2 {
  background: url('https://images.unsplash.com/photo-1547448415-e9f5b28e570d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')
    center no-repeat;
  background-size: cover;
  height: 60rem;
}
.slide3 {
  background: url('https://images.unsplash.com/photo-1523509433743-6f42a58221df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1033&q=80')
    center no-repeat;
  background-size: cover;
  height: 60rem;
}
.slide4 {
  background: url('https://images.unsplash.com/photo-1572969176403-0d6e50b9ee5a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=839&q=80')
    center no-repeat;
  background-size: cover;
  height: 60rem;
}
