@{
    ViewData["Title"] = "Вход";
}

<div class="album bg-body-tertiary mt-3">
    <div class="container">
        <vc:home-page-navigation />
        <vc:page-title title="@ViewData["Title"]" subtitle="" />
    </div>
</div>
