@model IEnumerable<string>
@{
    string href = "/excursions?city=";
}


<div class="d-flex flex-column ms-4 p-4 shadow-sm bg-light">
    <h4><u>Поиск по городам</u></h4>
    <a class="text-dark text-decoration-none" asp-controller="excursions" asp-action="index">All</a>
    @foreach (var city in Model)
    {
        <a class="text-dark text-decoration-none" href="@href@city.ToLower()">@city</a>
    }
</div>
