@import '../../utils/sass/variables.styles.scss';

.safety {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 0;
  position: relative;
  margin-bottom: 5rem;

  &__bg-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.35;
    overflow: hidden;
  }

  &__bg-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__row {
    display: flex;
    justify-content: center;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    margin: 3rem 4rem;
    padding: 2rem;
    background-color: $color-white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  }

  &__text-container {
    width: 90%;
  }

  &__main-title {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__paragraph {
    margin-bottom: 2.5rem;
    color: $color-grey-dark-2;
  }
}
