@import '../../utils/sass/variables.styles.scss';

.pathways {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  padding: 2rem 4rem;
  font-size: 2rem;

  &__title-container {
    text-align: center;
  }

  &__hashtags-container {
    display: flex;
    margin: 3rem auto;
  }

  &__hastags-list {
    display: flex;
  }

  &__hastags-item {
    margin-left: 3rem;
    list-style: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: $color-grey-dark-2;

    &:hover {
      color: $color-black;
    }

    &:active {
      color: $color-primary;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
  }

  &__pagination-btns {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__btn {
    margin-bottom: 4rem;
  }
}
