@import '../../sass/variables.styles.scss';
@import '../../sass/mixins.styles.scss';

.create-pathway {
  @include section();
  align-items: center;

  &__container {
    @include container();
    width: 40rem;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    @include input();
  }

  &__choose-file {
    border: none;
  }

  &__text-area {
    resize: none;
  }
}
