@import '../../sass/variables.styles.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 2rem;
  width: 100%;
  padding: 1rem 3rem;
  background-color: $color-white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);

  &__logo-container {
    display: flex;
    align-items: center;
    height: 8rem;
    width: 100%;
    overflow: hidden;
  }

  &__logo {
    height: 100%;
    width: auto;
    margin-right: 1rem;
  }

  &__logo-title {
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-decoration: underline rgba(48, 56, 65, 0.45) 1px;
    color: $color-secondary;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  &__nav-item {
    list-style: none;
    cursor: pointer;
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__link-active:link,
  &__link-active:visited,
  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: $color-secondary;
  }

  &__link-active:link,
  &__link-active:visited {
    text-decoration: underline;
    color: $color-black;
  }

  &__profile {
    width: 3rem;
    height: 3rem;
    background-color: $color-white;
    border-radius: 50%;
  }

  &__logout-btn {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgba($color-secondary, 0.95);
  }

  &__avatar {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
}
