@model HomeViewModel 

@{
    ViewData["Title"] = "Главная";
}

<div class="album bg-body-tertiary mt-3">
    <div class="container">
        <vc:page-title title="Последние экскурсии" subtitle="" />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-3">
            @foreach (var excursion in Model.Excursions)
            {
                <vc:excursion-card excursion="@excursion"></vc:excursion-card>
            }
        </div>
        <a class="btn btn-dark rounded-0 w-100" asp-controller="excursions" asp-action="index">Показать все</a>
    </div>
</div>
