@import '../../sass/variables.styles.scss';
@import '../../sass/mixins.styles.scss';

.registration {
  @include section();
  align-items: center;

  &__container {
    @include container();
  }

  &__form {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
  }

  &__input {
    padding: 0.5rem;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__button {
    margin-bottom: 1rem;
    padding: 0.75rem 3rem;
    border-radius: 0.5rem;
    font-size: $default-font-size;

    &:active {
      transform: scale(0.98);
    }
  }

  &__sign-in-link {
    text-align: center;
  }
}
