@import '../../sass/variables.styles.scss';

.footer {
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.15);
  font-size: $default-font-size;
  background-color: $color-black;
  color: $color-grey-dark-3;

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin: 0 3rem;
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 3rem 4rem;

    &:nth-child(2) {
      flex: 0 0 40%;
    }
  }

  &__nav {
    margin-bottom: 0.5rem;
  }

  &__nav-list {
    list-style: none;
    margin-bottom: 1rem;
  }

  &__nav-item {
    font-size: 2rem;
  }

  &__logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 5rem;
    width: 100%;
    overflow: hidden;
  }

  &__logo {
    font-size: 4rem;
    width: auto;
    color: $color-secondary;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__text-area {
    background-color: $color-grey-dark-1;
    color: $color-white;
    border: none;
    margin-bottom: 2rem;
  }

  &__title {
    color: $color-white;
    margin-bottom: 0.5rem;
  }

  &__paragraph {
    text-align: justify;
  }

  &__hr {
    height: 1px;
    background-color: rgba($color-grey-dark-2, 0.25);
  }

  &__rights {
    margin: 2rem 1rem;
    color: $color-grey-dark-2;
  }
}
