@import '../../utils/sass/variables.styles.scss';

.footer {
  background-color: $color-grey-dark-3;
  font-size: $default-font-size;
  padding: 5rem;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 3rem;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__rights {
    margin: 2rem 1rem;
  }
}
