@import '../../sass/variables.styles.scss';
@import '../../sass/mixins.styles.scss';

.about {
  @include section();
  align-items: center;

  &__title {
    @include title();
  }

  &__under-title {
    @include under-title();
  }

  &__text {
    font-size: $default-font-size;
    text-align: justify;
  }
}
