@import './sass/variables.styles.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  overflow: hidden;

  margin: 0 auto;
  width: 120rem;
}
