<div class="input-group position-relative" style="width: 320px; height: 40px">
    <input type="text" class="form-control rounded-0" placeholder="Поиск по экскурсиям...">
    <i class="bi bi-search position-absolute top-50 end-0 translate-middle text-dark"></i>
</div>

