@import '../../sass/variables.styles.scss';
@import '../../sass/mixins.styles.scss';

:root {
  --swiper-theme-color: #fff;
}

.slider {
  font-size: $default-font-size;
  margin-bottom: 5rem;

  &__image {
    position: relative;
    width: 100%;
    height: 62rem;
    object-fit: cover;
    object-position: center center;
  }

  &__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2rem 4rem;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    font-weight: normal;
    letter-spacing: 0.5rem;
    color: $color-white;
    text-shadow: 3px 3px 5px $color-secondary;
    z-index: 10;

    @include respond(tab-port) {
      font-size: 5rem;
    }

    @include respond(phone) {
      top: 40%;
      font-size: 3rem;
    }

    &-main {
      white-space: nowrap;
    }

    &-under {
      margin-bottom: 2rem;
      font-size: 3rem;
      letter-spacing: 0.25rem;
      white-space: nowrap;
      text-shadow: 2px 2px $color-secondary;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
